---
# ---- Install and configure MySQL server ----

- name: Gather facts of mysql_mysqld_allow_group servers
  setup:
  delegate_to: "{{ item }}"
  delegate_facts: True
  with_items: "{{ groups[mysql_mysqld_allow_group] }}"
  when: not mysql_in_cloud|bool

- set_fact:
    mysql_ferm_dependent_rules_exported: "{{ mysql_ferm_dependent_rules }}"
  when: not mysql_in_cloud|bool

- set_fact:
    mysql_tcpwrappers_dependent_allow_exported: "{{ mysql_tcpwrappers_dependent_allow }}"
  when: not mysql_in_cloud|bool

  # We want to have our configuration enabled as soon as possible for UTF-8
  # support, this check lets us know if MySQL server has just been installed
  # and we can quicky apply our own configuration and restart the server before
  # any more changes.
- name: Check if MySQL server is installed
  stat:
    path: '/usr/bin/mysqld_safe'
  register: mysql_binary_installed_output
  tags: [ provision ]

- name: Test ibdata1 present
  stat:
    path: "/var/lib/mysql/ibdata1"
  register: mysql_ibdata1_output
  tags: [ provision ]

- name: Set MySQL root password before installing
  debconf: name='mysql-server' question='mysql-server/root_password' value='{{ mysql_root_password }}' vtype='password'
  when: not mysql_binary_installed_output.stat.exists or not mysql_ibdata1_output.stat.exists
  no_log: True
  tags: [ provision ]

- name: Re-enter MySQL root password before installing
  debconf: name='mysql-server' question='mysql-server/root_password_again' value='{{ mysql_root_password }}' vtype='password'
  when: not mysql_binary_installed_output.stat.exists or not mysql_ibdata1_output.stat.exists
  no_log: True
  tags: [ provision ]

- name: List previous installations flags
  shell: "ls /var/lib/mysql/debian-*.flag"
  register: flags_to_cleanup
  ignore_errors: yes
  tags: [ provision ]

- name: Delete any previous flag
  file: 
    name: "{{ item }}"
    state: absent
  with_items: "{{ flags_to_cleanup.stdout_lines }}"
  when: flags_to_cleanup|success
  tags: [ provision ]

- name: Install MySQL-related packages
  apt:
    name: '{{ item }}'
    state: 'latest'
    install_recommends: False
  register: mysql_install_status
  with_items: [ 'python-mysqldb', 'mysql-server', 'automysqlbackup', 'ssl-cert' ]
  tags: [ provision ]

- name: Run mysql_install_db if no ibdata1 exists
  command: mysql_install_db
  when: not mysql_ibdata1_output.stat.exists and mysql_in_container|d(False)|bool
  notify: [ 'Restart mysql' ]

# Force restart after first-time installation
- meta: flush_handlers

- name: Test if using a docker phusion image
  stat:
    path: "/sbin/my_init"
  register: mysql_my_init_output
  when: mysql_in_container|d(False)|bool
  tags: [ provision ]

- name: Make sure /etc/service/mysql exists
  file:
    path: /etc/service/mysql
    state: directory
  when: mysql_in_container|d(False)|bool and mysql_my_init_output.stat.exists
  tags: [ provision ]

- name: Install mysql at boot
  copy:
    src: mysql-init.sh
    dest: /etc/service/mysql/run
    mode: "a+x"
  when: mysql_in_container|d(False)|bool and mysql_my_init_output.stat.exists
  tags: [ provision ]

- name: Check mysql server is already running in docker
  stat:
    path: /var/run/mysqld/mysqld.pid
  register: mysql_server_is_running_output
  when: mysql_in_container|d(False)|bool and mysql_my_init_output.stat.exists

- name: Start mysql server if not
  shell: "/sbin/my_init &"
  when: mysql_in_container|d(False)|bool and mysql_my_init_output.stat.exists and not mysql_server_is_running_output.stat.exists
  
- name: Wait until mysql server is running
  wait_for:
    path: /var/run/mysqld/mysqld.sock
    timeout: 60
    delay: 5
  when: mysql_in_container|d(False)|bool and mysql_my_init_output.stat.exists and not mysql_server_is_running_output.stat.exists

- name: Set root user password
  # If /root/.my.cnf already exists, this will update the root password.
  mysql_user:
    name: root
    password: "{{ mysql_root_password }}"
    check_implicit_admin: True
    config_file: /root/.my.cnf
  register: mysql_set_root_password_output
  ignore_errors: True
  tags: [ provision ]

- name: Try to set root user password with drupsible secret
  # Trying with password in ansible/secret, if something got mixed up.
  mysql_user:
    name: root
    password: "{{ mysql_root_password }}"
    check_implicit_admin: True
    login_user: root
    login_password: "{{ mysql_root_password }}"
  when: mysql_set_root_password_output|failed

- name: Write /root/.my.cnf file with root password credentials
  # Once .my.cnf is present, there's no need to pass login credentials to mysql_user.
  template:
    src: 'root/my.cnf.j2'
    dest: '/root/.my.cnf'
    owner: 'root'
    group: 'root'
    mode: '0600'
  no_log: True
  tags: [ provision ]

- name: Add MySQL system user to specified groups
  user:
    name: 'mysql'
    groups: '{{ mysql_mysqld_append_groups | join(",") | default(omit) }}'
    append: True
    createhome: False
  when: mysql_pki is defined and mysql_pki|bool
  notify: [ 'Restart mysql' ]
  tags: [ provision ]

- name: Remove my.cnf on Trusty (docker phusion image)
  file:
    path: '/etc/mysql/my.cnf'
    state: 'absent'
  when: mysql_in_container|d(False)|bool and ansible_distribution_release == "trusty"
  tags: [ provision ]

- name: Apply /etc/mysql/conf.d/mysqld.cnf configuration
  template:
    src: 'etc/mysql/conf.d/mysqld.cnf.j2'
    dest: '/etc/mysql/conf.d/mysqld.cnf'
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify: [ 'Restart mysql' ]

- name: Apply /etc/mysql/conf.d/client.cnf configuration
  template:
    src: 'etc/mysql/conf.d/client.cnf.j2'
    dest: '/etc/mysql/conf.d/client.cnf'
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify: [ 'Restart mysql' ]

# Force restart after first-time installation
- meta: flush_handlers

# ---- Secure MySQL installation ----

- name: Update mysql root password for all root accounts
  mysql_user:
    name: root
    host: '{{ item }}'
    password: "{{ mysql_root_password }}"
    check_implicit_admin: yes
    priv: "*.*:ALL,GRANT"
  with_items: [ "{{ ansible_hostname|default(inventory_hostname) }}", '127.0.0.1', '::1', localhost ]
  no_log: True

- name: Delete anonymous mysql user
  mysql_user:
    user: ""
    host: '{{ item }}'
    state: 'absent'
  with_items: [ "{{ ansible_hostname|default(inventory_hostname) }}", localhost ]
  ignore_errors: True
  no_log: True

- name: Remove test database
  mysql_db:
    db: 'test'
    state: 'absent'
  no_log: True

# ---- Configure MySQL database backup ----

- name: Setup automysqlbackup configuration
  template:
    src: 'etc/default/automysqlbackup.j2'
    dest: '/etc/default/automysqlbackup'
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify: [ 'Restart mysql' ]

- name: Create mysqldump section in /etc/mysql/debian.cnf
  lineinfile:
    regexp: '^\[mysqldump\]'
    dest:   '/etc/mysql/debian.cnf'
    line:   '[mysqldump]'
    state:  'present'
  notify: [ 'Restart mysql' ]

- name: Enable events table backup in mysqldump
  lineinfile:
    insertafter: '[mysqldump]'
    regexp: '^events\s'
    dest:   '/etc/mysql/debian.cnf'
    line:   'events = true'
    state:  'present'
  notify: [ 'Restart mysql' ]

# ---- Manage MySQL databases and users ----

- name: Manage MySQL databases
  mysql_db:
    name: '{{ item.name }}'
    state: '{{ item.state | default("present") }}'
  with_items: "{{ mysql_databases }}"
  when: item.name is defined and item.name
  no_log: True

- name: Manage MySQL users
  mysql_user:
    name: '{{ item.name }}'
    password: '{{ item.password | default(lookup("password", secret + "/credentials/" + app_name + "/mysql/" + item.name + "/password chars=ascii_letters,digits,hexdigits length=" + mysql_password_length)) }}'
    state: '{{ item.state | default("present") }}'
    priv: '{{ item.priv | default(item.name + ".*:ALL") }}'
    append_privs: '{{ item.append_privs | default("no") }}'
    host: '{{ item.host | default("localhost") }}'
    login_user: root
    login_password: "{{ mysql_root_password }}"
  with_items: "{{ mysql_users }}"
  when: (item.name is defined and item.name)
  no_log: True

- meta: flush_handlers
