---
- name: Restart mysql
  service: name=mysql state=restarted
  when: not app_in_container|d(False)|bool

- name: Reload mysql
  service: name=mysql state=reloaded
  when: not app_in_container|d(False)|bool
